/* 

Tirar slide bar quanto a tela for menor
que 935px

Layout Mobile para telas inferiores a 
614px

*/

/* VERSÃO 935 */

@media (min-width: 935px) {
  .footer {
    display: none;
  }
}

@media (max-width: 935px) {
  .box-slidebar,
  .parte-direita {
    display: none;
  }
  .div-topo {
    margin: 0 20px;
  }

  .footer {
    display: none;
  }
}

/* VERSÃO MOBILE */

@media (max-width: 614px) {
  .icones-acao .icone,
  .setinha,
  .mini-divisao {
    display: none;
  }
  .barra-pesquisa {
    display: none;
    width: 1px;
  }

  .div-topo {
    justify-content: space-between;
    margin: 0 20px;
  }

  .div-topo div:first-child {
    width: 60%;
    justify-content: space-between;
  }

  .topo {
    display: flex;
    justify-content: space-evenly;
  }

  .icones-acao .icone:first-child {
    display: flex;
    width: 100%;
  }

  .principal-site {
    overflow: hidden;
  }

  .box-stories {
    border: none;
    top: -15px;
  }

  .coluna-post {
    margin-top: -15px;
    width: 100vw;
  }

  .coluna-post img:nth-child(2) {
    width: 100vw;
  }

  .footer {
    display: flex;
  }
}
