html,
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.todo-site {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.topo {
  height: 54px;
  width: 100vw;
  z-index: 5;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.div-topo {
  width: 938px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}

.barra-pesquisa {
  width: 215px;
  height: 28px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 12px;
}

.barra-pesquisa::placeholder {
  text-align: center;
  color: #979797;
}

.logo {
  display: flex;
  align-items: center;
}

.mini-divisao {
  background-color: #dbdbdb;
  height: 22px;
  width: 1px;
  margin: 0 15px;
}

.icones-acao {
  display: flex;
  justify-content: space-between;
}

.icones-acao .icone {
  margin-right: 22px;
}

ion-icon {
  font-size: 22px;
}

.box-stories {
  width: 614px;
  height: 118px;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.box-stories div:first-child {
  margin-left: 0;
}

.story {
  min-width: 66px;
  height: 88px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-evenly;
  margin-left: 25px;
  left: 68px;
}

.story img:nth-child(2) {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.story img:first-child {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.box-stories p {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.setinha {
  position: absolute;
  right: 16px;
  z-index: 3;
}

.icon-seta {
  font-size: 26px;
  background-color: #ffffff;
  color: #dbdbdb;
  border-radius: 50%;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.principal-site {
  width: 614px;
}

.box-slidebar {
  width: 293px;
  margin-left: 28px;
}

.coluna-post {
  width: 614px;
  height: 749px;
  margin: 24px 0 60px 0;
  justify-content: left;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
}

.user-post {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 17px;
}

.user-post div {
  display: flex;
  align-items: center;
}

.user-post div img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 17px;
}

.user-post p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  font-weight: bold;
}

.user-post ion-icon {
  font-size: 16px;
}

.post {
  width: 614px;
}

.corpo-site {
  display: flex;
  justify-content: center;
  margin-top: 88px;
}

.coluna-post img {
  width: 612px;
  height: 612px;
}

.meu-perfil {
  display: flex;
  align-items: center;
  margin-top: 23px;
}

.meu-perfil img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 17px;
}

.meu-perfil div h4 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2 px;
}

.meu-perfil div p {
  color: #979797;
  font-weight: 300;
  font-size: 14px;
}

.acoes-post {
  display: flex;
  justify-content: space-between;
}

.footer-post {
}

.curtidas {
  display: flex;
}
.curtidas img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.curtidas span {
  font-weight: bold;
}

/*

BOTAR ANCORA NOS ICONES EM CIMA
BOTAR BOTÕES NOS ICONES DE AÇÃO
VERSÃO MOBILE
VERSAÕ TABLET
ok ~~~~~~~~~~arrumar topo





*/
